<p>
    <h2 class="title">Muhammad Lawal Adamu</h2>
    <div class="row">
        <div class="col font-italic">
            Full Stack Software Engineer<br>
            <a href="https://www.linkedin.com/in/lawaldd/">LinkedIn</a><br>
            <a href="https://github.com/Ddlawal">Github</a><br>
            <a href="https://lawaldd.dev">Website</a>
        </div>
        <div class="col justify-content-end">
            <div class="row justify-content-end address">
                <br>Minna, Nigeria<br>
                lawaldd@gmail.com<br>
                +2348034344097
            </div>
        </div>
    </div>

    <div class="my-4">
        <h4 class="sub-title">SUMMARY</h4>

        <div class="my-3">
            <img src="images/hng.png" alt="HNG" width="70%" height="70rem">
        </div>

        <div class="my-1">
            I am a proud <a href="https://internship.zuri.team">HNG (https://internship.zuri.team)</a> intern, a Software Engineer with more than 3 years of professional experience in Software Design and Development, Project Management, and Software Architecture.
        </div>
        <div class="my-1">
            I believe in the saying that, what is worth doing is worth doing well. I enjoy building things and solving problems and I put in all effort to do it well by holding myself to the high standards of a software professional.
        </div>
        <div class="my-1">
            Expect a solution from me that makes sense for you! This means that I am committed to: write the best code I can produce in the scope of the project, accountability, responsiveness, and setting clear expectations.
        </div>
    </div>

    <div class="sub-title">
        Download my resume <a class="link" href="https://docs.google.com/document/d/1rcqK_GvpMXGOvOeqnSMay-sw1vj9xW3sa3E3TLQbXek/edit?usp=sharing">here</a>
    </div>
</p>